body {
    background-color:#d1eaf4;
    margin-left: 200px;
    padding: 30px;
    height: 56;
    margin: 200px;
    margin-left: 400px;

}

h1 {
    color:#0a393d;
    margin-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
}

#bt1 {
    margin: 15px;
    background-color: #d1eaf4;
    width: 150px;
    height: 50px;
    color:  #0a393d;
    border-width: 3px;
    border-color: #0a393d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
}
#bt1:hover{
    background-color: #0a393d;
    color: white;
}