<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Doctor</title>
</head>

<body >
<h1 "> Edit {{doctor.name}}</h1>
<form  >


{{!-- name --}}
<label for="name">Name
<br>
<input type='text' name='name' >

<br>
{{!-- email --}}
<label for="email">Email
    <br>
<input type='text' name='email' >
<br>
{{!-- password --}}
<label for="password">Password
    <br>
<input type='text' name='password' >

<br>
{{!-- subjects --}}
<div >
<label for="sub">Subjects
<select name="subjects">
    {{#each subjects}}
    <option value="{{_id}}">{{name}}</option>
    {{/each}}
</select> 
</div>

{{!-- create --}}

    <button type="submit"> Create</button>
</form>
</body>

</html>