<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" hrer="css/subject.css ">
    {{#each css}}
        <link rel="stylesheet" href="../cs/subject.css">
    {{/each}}
    <title>Subjects</title>
</head>

<body>
     <h1> Subjects</h1>
     <a href="subjects/create_subject"> create a new  subject</a>
     {{#each  subjects }}
      
      <a href="/subjects/{{_id}}">
        <h2>{{name}}</h2></a>
     {{/each}}
</body>

</html>