<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/department.css" />
    <title>{{department.name}}</title>
</head>

<body id="body3">
<h1>
    {{department.name}}
</h1>

<div>
    code: {{department.code}}
</div>
</body>

</html>
