<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css" />
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <div>
    <button id="bt1" onclick="window.location= '/student_admin'">Student</a>
    <button  id="bt1" onclick="window.location ='/doctor_admin'">Doctor</a>
    <button  id="bt1" onclick="window.location='/departments'">Department</a>
    <button id="bt1" onclick="window.location='/subjects'">Subject</a>
    </div>
</body>
</html>