<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
     crossorigin="anonymous">
    <link rel="stylesheet" hrer="css/subject.css ">
    {{#each css}}
        <link rel="stylesheet" href="/css/subject.css">
    {{/each}}
    <title>Subjects</title>
</head>
<style>
   body{
      background-color:#d1eaf4;
   }
   h1{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style:italic;
      color:#065258;
      margin-bottom:30px;
      padding-top: 40px;
      padding-left: 110px;
     
      
   }
  #l{
   color: #065258;
        
        margin-right: 500px;
        width:350px;
        margin-bottom:15px;
        height: 55px;
        color: #065258;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style:italic;
  }
  #login{
    background-color:#065258;
     
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style:italic;
        border-color:#065258;
        border-width: 3px;
        margin-left: 110px;
        width: 120px;
        height: 60px;
        font-weight: bold;
        color:white;
  }
  #login:hover{
      background-color:#d1eaf4;
       color:#065258;
    }
  #log{
    background-color: white;
    width: 500px;
    height: 500px;
    margin-left: 500px;
    padding-left: 50px;
    margin-top: 100px;
  }
</style>

<body>
     <h1>All Subjects you didn't registered it</h1>
     
     {{#each  subjects }}
    <div class="d-flex justfiy-content-between">
      <a>
        <h2>{{name}}</h2></a>
        <button id="login" class="btn btn-light" onclick="window.location='/loginStudent/show_pdf/all/add'">add</button>
      </div>
       </div>
       {{/each}}
      
</body>


</html>