<!DOCTYPE html>
<html>
  <head>
    <title>Download PDF Example</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Admin</title>
  </head>
  <body >
    <div>
        <embed src="/uploads/{{_pdf}}" width="100%" height="1000px">
    </div>
  </body>
</html>